<li>
	<span class="nickname">
	<%=h message.nickname %> 
	</span>
	<span class="message">
	<%=h message.content %>
	</span>
	<span class="timestamp"><%= time_ago_in_words(message.created_at) %> ago</span>
</li>
