<li>
	<span class="nickname">
	<%=h message.nickname %> 
	</span>
	<span class="message">
	<%=h message.content %>
	</span>
	<span class="timestamp"><%= message.created_at.strftime("%I:%M %p") %></span>
</li>
