/* http://kuler.adobe.com/#themeID/635451 */
body {
	background: #01282e;
	color: #7fb535;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

a {
	color: #7fb535;
	text-decoration: none;
}

h1,h2,h3,h4,h5 {
	color: #ff7c2e;
}

h1 {
	margin-top: 0px;
}

input{
	font-size: 1.2em;
}

#header a {
	color: #ff7c2e;
	text-decoration: none;
}

#header h1 {
	margin-bottom: 0px;
}

#header p {
	margin-top: 0px;
}

#main {
	background: #ffffff;
	border: 1px solid #77bb33;
	color: #333333;
	padding: 10px;
}

div#messages_container {
	background: #111111;
	color: #ffffff;
	height: 450px;
	overflow: scroll;
}

#messages {
	font-family: Andale Mono, Courier New, monospace;
	font-size: 1.2em;
}

ul#messages {
	margin-left: 0px;
	padding-left: 5px;
}

#messages li {
	list-style: none;
}

#message_form input[type=text] {
	color: #333333;
	width: 600px;
}

#wrapper {
	margin: auto;
	width: 1000px;
}

.callout { color: #10556D; }

.fieldWithErrors {
	border: 2px solid #ee0000;
	display: inline;
	padding: 10px;
	margin: 0px;
}

.nickname {
	display:-moz-inline-block; display:-moz-inline-box; display:inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	vertical-align: text-top;
	white-space: nowrap;
	width: 150px;
}

.message {
	display:-moz-inline-block; display:-moz-inline-box; display:inline-block;
	vertical-align: text-top;
	width: 650px;
}

.timestamp { 
	color: #333333;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	width: 150px;
}

.warning {
	background: #ff7373;
	border-top: 2px solid #a60000;
	border-bottom: 2px solid #a60000;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}

.notice {
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
}