input{
	font-size: 1.2em;
}

div#messages_container {
	background: #111111;
	color: #ffffff;
	height: 500px;
	overflow: scroll;
}

#messages {
	font-family: Andale Mono, Courier New, monospace;
	font-size: 1.2em;
}

ul#messages {
	margin-left: 0px;
	padding-left: 5px;
}

#messages li {
	list-style: none;
}

#message_form input[type=text] {
	color: #333333;
	width: 600px;
}

#wrapper {
	margin: auto;
	width: 1000px;
}

.nickname {
	display:-moz-inline-block; display:-moz-inline-box; display:inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;
	vertical-align: text-top;
	white-space: nowrap;
	width: 150px;
}

.message {
	display:-moz-inline-block; display:-moz-inline-box; display:inline-block;
	vertical-align: text-top;
	width: 650px;
}

.timestamp { 
	color: #333333;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	width: 150px;
}